{{> navBar admin="true" adminView="true"}}
<div class="container">
    <div class="admin-section">
        <h2>Agregar un nuevo producto:</h2>
        <br>
        <form id="new-product-form">
            <div class="form-group">
                <label class="sr-only" for="nombre">Nombre</label>
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="descripcion">Descripcion</label>
                <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" required></textarea>
            </div>
            <div class="form-group">
                <label class="sr-only" for="foto">Foto</label>
                <input class="form-control" type="url" name="foto" id="foto" placeholder="Foto" required>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="precio">Precio</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input class="form-control" type="number" step="0.01" min="0" name="precio" id="precio" placeholder="Precio" required>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="stock">Foto</label>
                <input class="form-control" type="number" step="1" min="0" name="stock" id="stock" placeholder="Stock" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="admin-section">
        <h2>Editar productos existentes</h2>
        <br>
        <div id="lista-de-productos" class="row">
        </div>
    </div>
</div>
<script src="/admin.js"></script>