#lista-de-productos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    margin-top: 3.5rem;
}
.actions {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#profile-link {
    font-size: 2rem;
    border-radius: 50%;
}
#profile-link i {
    margin: auto
}
#carrito-de-compras {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    margin-top: 3.5rem;
}
.media-body{
    margin-left: 1rem;
}
.producto-carrito {
    border: 1px solid gray;
    border-radius: 12px;
    background-color: beige;
    padding: .75rem;
    flex-grow: 1;
    position: relative;
}
.precio-carrito {
    color: green;
    float: right;
    text-align: right;
}
.remove-item-carrito {
    position: absolute;
    bottom: .75rem;
    right: .75rem;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem 0 0 0;
    text-align: center;
}
#vaciar-carrito {
    margin-top: 3.5rem;
    float: right;
}
.admin-section {
    margin-top: 4rem;
}
.sin-productos {
    margin: auto;
    text-align: center;
}
.card {
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
    padding: 0;
}
.card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card img {
    align-self: center;
    object-fit: contain;
    width: 18rem;
    height: 18rem;
    max-width: 99%;
}
.card p {
    padding: 0 .75rem;
}